.env
google-credentials.json
/node_modules

tokens.json

# Pliki logów generowane przez Node/npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Pliki generowane przez system operacyjny
.DS_Store
Thumbs.db

# Pliki konfiguracyjne edytorów kodu
.vscode/
.idea/